<!--container-->
<div class="container-fluid menu justify-content-center m-auto">
    <!--Margens do top e botton-->
    <div class="row d-flex mt-5 mb-5">

        <div class="col-md-3 justify-content-center"></div>
        <!--bloco cadastro-->
        <div class="col-md-6  justify-content-center">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 justify-content-center   shadownLogin">
                    <!--DIV PARA LOGO-->
                    <div class="text-center">
                        <img src="https://i.imgur.com/CCSQaiP.png" alt="logo" width="" height="">
                    </div>
                    <!--/DIV PARA LOGO-->
                    <!--Div nome Completo-->
                    <div class="form-group colorFont">
                        <label for="nome">Nome completo</label>
                        <input class="form-control" type="text" name="nome" id="nome"
                            placeholder="Informe seu nome completo">
                    </div>
                    <!--/Div nome Completo-->
                    <!--Email-->
                    <div class="form-group colorFont mb-3">
                        <label for="email">E-mail</label>
                        <input class="form-control" type="text" name="email" id="email"
                            placeholder="Informe seu melhor e-mail">
                    </div>
                    <!--/Email-->
                    <!--Senha-->
                    <div class="form-group colorFont mb-3">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha"
                            placeholder="Senha para acesso">
                    </div>
                    <!--/Senha-->
                    <!--Confirma senha-->
                    <div class="form-group colorFont mb-3">
                        <label for="confirmarSenha">Confirmar Senha</label>
                        <input class="form-control" type="password" name="confirmarSenha" id="confirmarSenha"
                            placeholder="Confirme sua senha">
                    </div>
                    <!--/Confirma senha-->
                    <!--Botoes-->
                    <div class="d-flex justify-content-center mb-5 mt-5">
                        <!--Botao Cancelar-->
                        <button type="submity" class="btn btn-outline-danger mr-4" routerLink="/login">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancelar</button>
                        <!--/Botao cancelar-->
                        <!--Botao cadastrar-->
                        <button type="submity" class="btn btn-outline-success ml-4">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Cadastrar</button>
                        <!--/Botao cadastrar-->
                    </div>
                    <!--/Botoes-->
                </div>
            </div>
            <!--</div>-->
            <div class="col-md-3 mb-5"></div>
        </div>
        <!--/bloco cadastro-->
    </div>
    <!--/Margens do top e botton-->
</div>
<!--/container-->