<div class="container-fluid menu">
    <div class="row">
        <div class="col-md-3" >
        </div>

        <div class="col-md-6 mt-5 mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 text-center">
                    <img src="https://i.imgur.com/CCSQaiP.png" alt="logo" width="" height="">
                    <div class="form-group colorFont">
                        <label for="nome">Nome completo</label>
                        <input class="form-control" type="text" name="nome" id="nome"
                            placeholder="Informe seu nome completo">
                    </div>
                    <div class="form-group colorFont">
                        <label for="email">E-mail</label>
                        <input class="form-control" type="text" name="email" id="email"
                            placeholder="Informe seu melhor e-mail">
                    </div>
                    <div class="form-group colorFont">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha"
                            placeholder="Senha para acesso">
                    </div>
                    <div class="form-group colorFont">
                        <label for="confirmarSenha">Confirmar Senha</label>
                        <input class="form-control" type="password" name="confirmarSenha" id="confirmarSenha"
                            placeholder="Confirme sua senha">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submity" class="btn btn-outline-danger mr-4" routerLink="/login">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            Cancelar</button>
                        <button type="submity" class="btn btn-outline-success ml-4">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-5"></div>
    </div>
</div>