@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
#img-bg{
    
    min-height: 695px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-outline-success{
    background-color: white;
    border-color: olivedrab;
    color: olivedrab;
}
.btn-outline-success:hover{
    background-color: yellowgreen;
    border-color: white;
    color: white;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 47px -6px rgba(54,30,60,0.42); 
box-shadow: 0px 10px 13px -7px #000000, 0px 0px 47px -6px rgba(54,30,60,0.42);
}
.menu{
    background-color: white;
}
.titleFont{
   
    font-size: 30;
    color: #cc71e6;
    font-family: 'VT323', monospace;
    
}
.colorFont{
    color:black;

}
hr{
    border-color: aliceblue;
}
.cadatrese{
    color:olivedrab;
}
.cadatrese:hover{
    color:yellowgreen;
}
.shadownLogin{
    -webkit-box-shadow: 5px 5px 40px 5px rgba(0,0,0,0.66); 
box-shadow: 5px 5px 40px 5px rgba(0,0,0,0.66);
}