ul.contato {
    list-style: none;
    padding: 0;
    
}

.page-footer{
    background-color: #313131;
}

.contato{
    margin: 20px;
}
.contato li
{
    font-size: 20px;
    margin: 17px;
}
.contato li a
{    
    color:white;
}

.logo{
    margin: 20px;
    padding: 0;
}
.logo .logoErural
{    
    max-width: 100%;
    max-height: 100%;
}


.social-network
{
    justify-content: center;
    align-items: center;
}

.social-network .fa-github 
{
    max-width: 10%;
    max-height: 10%;
    transform: scale(0.9);
    opacity: 0.7;
}

.social-network .fa-instagram
{
    max-width: 10%;
    max-height: 10%;
    transform: scale(1.0);
    opacity: 0.7;
}

.social-network  .fa-github:hover
{
    opacity: 1;
    color: rgb(78, 212, 16);
}

ul.social-network{
    list-style:none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 10px;
    
}

.social-network ul
{
    width: 50px;
    height: 50px;
}
.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.pagamento p
{   
    text-align: center;
    font-size: 20px;
    margin:30px;
    padding: 0;
    color: white;
}


ul.sci
{
margin: 0;
padding: 0;
}

.sci li 
{
    margin-right:10px;
    list-style: none;
}

.sci li img
{
    transform: scale(0.5);
    opacity: 0.7;
}



.sci li img:hover
{
    opacity: 1;
}

.copyrigth p{
    text-align: center;
    color: #fff;
}