.menuBar{
    background-color: #397900;
}
.fontMenu{
    color: white;
}
.btn-outline-success{
    background-color: none;
    border-color: white;
    color: white;
}
.btn-outline-success:hover{
    background-color: white;
    border-color: #397900;
    color: #397900;
}
