<nav class="navbar navbar-expand-lg navbar-light menuBar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse menuBar text-center m-auto" id="conteudoNavbarSuportado">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="https://i.imgur.com/vEJY0PZ.png" alt="logo" width="120px" height="31px" class="img-fluid"> <span class="sr-only">(página atual)</span></a>
        </li>
        <form class="form-inline my-5 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fontMenu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu menuBar" aria-labelledby="navbarDropdown">
            <a class="dropdown-item fontMenu" href="#">Login/Cadastrar</a>
            <a class="dropdown-item fontMenu" href="#">Meus pedidos</a>
            <a class="dropdown-item fontMenu" href="#">Minha conta</a>
            <a class="dropdown-item fontMenu" href="#">Me ajuda!</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item fontMenu" href="#">Sair</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pedidos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Entrega</a>
            <a class="dropdown-item" href="#">Pagamento</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Cancelamento</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="https://i.imgur.com/ePoMshG.png" alt="Cesta" width="25px" height="25px" class="img-fluid"></a>
        </li>
      </ul>
      
    </div>
  </nav>